body {
  background-color: blue;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex; }

h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center; }

p {
  font-size: 16px;
  font-color: orange;
  text-align: center;
  padding: 20px;
  margin-top: 45px; }